.chat-app {
   width: 100%;
   height: 100vh;
   display: flex;
}
/* chat settings and LIST */

.chat-list {
    width: 30%;
    height: 100%;
    background-color: #0d111a;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.chat-list-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    color: #7b8ebc;
    border-bottom: 1px solid #2d2d2d;
}

.chat-list-header h2 {
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
}

.chat-list-header i {
    font-size: 2.2rem;
    cursor: pointer;
    /* color: #7b8ebc; */
}

.chat-list-item {
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: #131927;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

    &.active {
     background: linear-gradient(135deg, #d87810, #af27af);
    }
}

.chat-list-item h4 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #ddd;
    font-family: 'Exo 2', sans-serif;
}

.chat-list-item.active h4 {
    color: #fffdc4;
    font-weight: 500;
    text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.chat-list-item i {
    font-size: 2.5rem;
    color: #7b8ebc;
    cursor: pointer;
    &:hover {
        color: #fffdc4;
    }
}

.chat-settings h2 {
    color: #7b8ebc;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
}

.chat-settings {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    font-family:'Outfit', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #7b8ebc;
    row-gap: 2rem;
} 

.llm-settings h4,
.token-settings h4 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: #cbccce;
    padding-bottom: 3rem;

}

.llm-settings, 
.token-settings {
    /* padding: 2rem; */
    background-color: #131927;
}

.model-name,
.token-name {
    /* font-family: 'Outfit', sans-serif; */
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: 200;
    color: #a3e7e7;   
    font-weight: 200;
}

.llm-settings select {
    margin-top: 2rem;
    background: transparent;
    border: 1px solid #7b8ebc;
    outline: none;
    border-radius: 0.5rem;
    padding: 1.2rem 1.7rem;
    color: #7b8ebc;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
    margin: 0.5rem 0;
    cursor: pointer;

    &:hover {
        color: #a3e7e7;  
    }
}

.token-input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(135deg, #d87810, #af27af); /*neat trick ;#7b8ebc is the color of the slider */
    border: none;
    border-radius: 0.7rem;
    outline: none;
    cursor: pointer;
}

.token-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    background: #7b8ebc;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.token-input::-moz-range-thumb {
    width: 3rem;
    height: 3rem;
    background: #7b8ebc;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.token-input::-ms-thumb {
    width: 3rem;
    height: 3rem;
    background: #7b8ebc;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/* chat window */
.chat-window {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* top bar title */
.chat-title {
    width: 100%;
    min-height: 12rem;
    background-color: #0d111a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.chat-title h2 {
    padding: 2rem 1rem;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Exo 2', sans-serif;
    color: #7b8ebc;
}

.chat-title h4 {
    padding-right: 3rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Outfit', sans-serif;
    color: #a3e7e7;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem 1rem;
    color: #7b8ebc;
    border-top: 1px solid #a3e7e7;
}

.header-info h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7b8ebc
}

.new-chat {
    font-size: 3rem;
    cursor: pointer;
    color: #7b8ebc;
}

.menu-icon-container {
    display: block;
}

.arrow {
    font-size: 3rem;
    cursor: pointer;
    color: #7b8ebc;
    transform: rotate(180deg);
}

.chat {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 4rem;
    overflow-y: auto;
}

.chat::-webkit-scrollbar {
    display: none;
}

.prompt, 
.response {
    max-width: 80%;
    padding: 2rem;
    font-size: 1.6rem;
    color: #ddd;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
}

.prompt {
    background: linear-gradient(135deg, #d87810, #af27af);
    align-self: flex-end;
    border-radius: 3rem 0 3rem 3rem;
    text-align: right;
}

.response {
    background: linear-gradient(135deg, #2b1e19, #fe4d57);
    align-self: flex-start;
    border-radius: 0 3rem 3rem 3rem;
    text-align: left;
}

.prompt span,
.response span {
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    line-height: 2.6rem;
    display: block;
    margin-top: 0.5rem;
}

/*new markdown support as we use ReactMarkdown now */
/* Headings */
.chat-response h1,
.chat-response h2,
.chat-response h3 {
    margin: 1rem 0;
    font-weight: bold;
}

.chat-response h1 {
    font-size: 2.6rem;
    letter-spacing: 0.5px;
    line-height: 3rem;
}

.chat-response h2 {
    font-size: 1.8rem;
}

.chat-response h3 {
    font-size: 1.6rem;
}

/* Paragraphs */
.chat-response p {
    margin: 1rem 0;
}

/* Links */
.chat-response a {
    color: #2fecec;
    text-decoration: none;
    font-size: 1.6rem;
}

.chat-response a:hover {
    text-decoration: underline;
}

/* Lists */
.chat-response ul {
    margin: 1rem 0;
    padding-left: 2rem;
}

.chat-response ol {
    margin: 1rem 0;
    padding-left: 2rem;
}

.chat-response li {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}

/* Code blocks */
.chat-response pre {
    background-color: #1f1d1d;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: auto;
    font-size: 1.4rem;
}

.chat-response code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #191717;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
}

/* Blockquotes */
.chat-response blockquote {
    margin: 1rem 0;
    padding-left: 1.5rem;
    border-left: 0.4rem solid #ccc;
    color: #555;
    font-style: italic;
    font-size: 1.6rem;
}

/* Tables */
.chat-response table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1.6rem;
}


/* Typing placeholder for before answer arrives */
.typing {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.6rem;
    color:#7b8ebc;
    margin-top: auto;
    margin-bottom: -4rem;
}

.input-container {
    width: 100%;
    height: 12rem;
    display: flex;
    align-items: center;
}

.msg-form {
    background-color: #292c34;
    box-shadow: 0 -0.5rem 1rem rgba(71, 64, 64, 0.5);
    padding-right: 3rem;
    padding-left: 3rem;
    border: 1px solid #514848;
    position: relative;
}

.msg-form i {
    font-size: 3rem;
    color: #7b8ebc;
    cursor: pointer;
    margin-left: 1.5rem;

    &:hover {
        color: #fcc42c;
    }
}

.msg-input {
    height: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    line-height: 2.2rem;
    color:#7b8ebc;
    font-weight: 400;
    inset: auto;
}

.msg-input::placeholder {
    font-size: 1.8rem;
    font-family: 'Exo 2', sans-serif;
    color: #4e566b;
}

.msg-input:focus::placeholder {
    opacity: 0;
}



/* media querries tablet view max width 900 */
@media (max-width: 900px) {
   .chat-app {
       flex-direction: column;
   }
   
   /* chat list left hidden */
   .chat-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform 0.5s ease-out;
        z-index: 1000;
   }
   
   .chat-list.show {
        transform: translateX(0);
        transition: transform 0.5s ease-in;
   }

   .chat-window {
        width: 100%;
   }

   .chat-title h2 {
        padding-left: 5rem;
   }

   /* burger item*/
   .chat-title i.bx-menu {
        position: absolute;
        left: 1rem;
        top: 4.6rem;
        font-size: 3rem;
        color: #7b8ebc;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #fffdc4;
        }
   }
}

/* mobile until 500px */
@media (max-width: 500px) {


    .header-info h3 {
        font-size: 1.6rem;
    }

    .chat-list {
        width: 90%;
    }

    .chat-title {
        position: sticky;
        background: linear-gradient(125deg, #060206, #590e43);
    }


    .msg-input {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    .chat-window {
        width: 100%;
        height: 100vh;
        margin: 0;
        border-radius: 0;
      }
    
      .chat-list {
        width: 85%;
        height: 100vh;
      }
    
      .msg-form {
        position: fixed;
        width: 100%;;
        bottom: 0;
      }
}
